@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
